[user]
    name = zinkosuke
    email = 48650930+zinkosuke@users.noreply.github.com
[color]
    ui = auto
[core]
    autocrlf = false
    editor = vim
    excludesfile = ~/.gitignore
    ignorecase = false
    pager = less -rN
    quotepath = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    ff = false
[push]
    default = current
[pull]
    ff = only
[ghq]
    root = ~/ghq
[init]
    defaultBranch = main
[diff "sopsdiffer"]
	textconv = sops -d
