[user]
    name = 
    email = 
[core]
    autocrlf = false
    editor = vim
    excludesfile = ~/.gitignore
    pager = less -rN
    quotepath = false
[color]
    ui = auto
[merge]
    ff = false
[push]
    default = current
[pull]
    ff = only
