[user]
    name = 
    email = 
[color]
    ui = auto
[core]
    autocrlf = false
    editor = vim
    excludesfile = ~/.gitignore
    pager = less -rN
    quotepath = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    ff = false
[push]
    default = current
[pull]
    ff = only
[ghq]
    root = ~/Documents/ghq
